#pic1{

		width:100px;
		height:100px;

		border-radius:10px;


}

#name {
		font-family:Verdana;
		font-size:35px;



}
#p1{
		font-family: Segoe-ui;
		color;red;



}


{
#t1 border: 1px solid ;
 }


{
td border:  1px solid;
}